<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<form th:method="GET" th:action="@{/index}">
    <input type="submit" value="Back to the menu">
</form>

<br/>
<hr/>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getBookId()})}"
       th:text="${book.getName() + ' - ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
</div>

<br/>
<hr/>

<a href="/books/add">Create new book</a>

</body>
</html>