<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Back to the people list">
</form>

<br/>
<hr/>

<form th:method="POST" th:action="@{/people/add}" th:object="${person}">
    <label for="fullName">Enter full name: </label>
    <input type="text" th:field="*{fullName}" id="fullName">
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">full name error</div>
    <br/>

    <label for="bornYear">Enter born year: </label>
    <input type="text" th:field="*{bornYear}" id="bornYear">
    <div style="color: red" th:if="${#fields.hasErrors('bornYear')}" th:errors="*{bornYear}">born year error</div>
    <br/>

    <input type="submit" value="Create!">
</form>

</body>
</html>